<library path="src">
  <class name="Centauri6dof" type="rqt_centauri6dof.centauri6dof.Centauri6dof" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin for save positions to generate trajectories
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>My first Python Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>