<library path="src">
  <class name="rqt_mypkg" type="rqt_mypkg.my_module.MyPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Centauri6DOF</label>
      <icon type="file">centauri.jpg</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>